<div class="container">
    <div class="row" ng-if="!myInfoCtrl.isAlreadySignup">
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </div>

    <div class="row" ng-if="myInfoCtrl.isAlreadySignup">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 style="color:black;">My Information</h3></div>
          <div class="panel-body" style="color: black;font-size: 1.2em;">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="form-group">
                  <label for="inputEmail" class="col-xs-2 control-label">First Name</label>
                    <div class="col-xs-10">{{myInfoCtrl.storedInfo.firstName}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="inputEmail" class="col-xs-2 control-label">Last Name</label>
                    <div class="col-xs-10">{{myInfoCtrl.storedInfo.lastName}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="inputEmail" class="col-xs-2 control-label">Email</label>
                    <div class="col-xs-10">{{myInfoCtrl.storedInfo.email}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-group">
                  <label for="inputEmail" class="col-xs-2 control-label">Mobile No</label>
                    <div class="col-xs-10">{{myInfoCtrl.storedInfo.mobile}}</div>
                </div>
              </li>
          </ul>
        </div>
      </div>
  <div class="panel panel-primary">
      <div class="panel-heading">      
            <h3 style="color: black;">Favorite Dish </h3>
          </div>
      <div class="panel-body" style="color: black;">
        <ul class="list-group">
            <li class="list-group-item">
              <h4>Name : {{myInfoCtrl.storedInfo.menuShort | uppercase}} - {{myInfoCtrl.storedInfo.fullDishName}}</h4>
            </li>
            <li class="list-group-item">       
                  <img class="img-responsive" width="250" height="150" ng-src="https://soolleh-course5.herokuapp.com/images/{{myInfoCtrl.storedInfo.menuShort | uppercase}}.jpg" 
                  alt="{{myInfoCtrl.storedInfo.fullDishName}}">
                  <div><b>{{myInfoCtrl.storedInfo.fullDishName}}</b></div>
                  <div>{{myInfoCtrl.storedInfo.fullDishDescription}}</div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<!-- "https://gitsyrob-course5.herokuapp.com/images/{{myInfoCtrl.storedInfo.menuShort | uppercase}}.jpg" -->